<?xml version="1.0" encoding="utf-8" ?>
<!-- examples of specifying assembly loading info -->
<configuration>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="myAssembly"
                                  publicKeyToken="32ab4ba45e0a69a1"
                                  culture="neutral" />
                <codeBase version="2.0.0.0"
                          href="http://www.example.com/myAssembly.dll"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="myAssembly"
                                  publicKeyToken="32ab4ba45e0a69a1"
                                  culture="neutral" />
                <bindingRedirect oldVersion="1.0.0.0"
                                 newVersion="2.0.0.0"/>
            </dependentAssembly>
            <probing privatePath="bin;bin2"/>
        </assemblyBinding>
    </runtime>
</configuration>